*{
    font-family: 'Poppins',cursive;
}

body{
    background-color: black;
}

#traducao{
    height: 100vh;
    text-align: center;
    color: #39c6d6;
    display: flex;
    align-items: center;
    justify-content: center;
  }